* {
    margin: 0;
    padding: 0;
}

.dotted
{
    border: 30px dotted blue;
}

.double
{
    border: 30px double blue;
}

.groove
{
    border: 30px groove blue;
}

.ridge
{
    border: 30px ridge blue;
}

.inset
{
    border: 30px inset blue;
}

.outset
{
    border: 30px outset blue;
}

.dashed
{
    border: 30px dashed blue;
}

.solid
{
    border: 30px solid blue;
}

.border-top
{
    border-top: 30px solid blue;
    background-color: rgb(150, 215, 1);
    font-size: 24px;
    text-align: center;
}

.border-left
{
    border-left: 30px solid blue;
    background-color: rgb(150, 215, 1);
    font-size: 24px;
    text-align: center;
}

.border-right
{
    border-right: 30px solid blue;
    background-color: rgb(150, 215, 1);
    font-size: 24px;
    text-align: center;
}

.border-bottom
{
    border-bottom: 30px solid blue;
    background-color: rgb(150, 215, 1);
    font-size: 24px;
    text-align: center;
}

.border-radius
{
    border: 30px solid red;
    font-size: 24px;
    border-radius: 20px;
}

.border-shadow
{
    border: 30px solid rgb(236, 0, 0);
    font-size: 24px;
    border-radius: 20px;
    box-shadow: 10px 20px 5px gray;
}

.border-hover
{
    border: 30px solid blue;
    background-color: red;
    font-size: 12px;
    transition: 1s;
    cursor: pointer;
}

.border-hover:hover
{
    border: 30px solid red;
    background-color: blue;
    font-size: 24px;
    transition: 2s;
}
