@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root
{
    --bg-color: #e8ecc7;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --peso-semibold: 600;
    --peso-regular: 400;
}

*
{
    margin: 0;
    padding: 0;
}

/*Por padrão os browsers definem o font-size 
default do root element (html element) como
16px. Uma boa técnica é definir o font-size
do elemento html como 62.5%, assim o tamanho
em rem dos elementos seria os valores em pixels
divididos por 10*/
html
{
    /*font-size: 62.5%;*/
}

.cabecalho
{
    
    display: flex;
    justify-content: start;
    box-sizing: border-box;
   
}

.cabecalho__menu
{
    padding: 5% 0 0 6%;
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link
{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: var(--peso-semibold);
    color: var(--bg-color);
    text-decoration: none;
}

main
{
    display: flex;
}

.barra-lateral
{
    padding: 30% 0% 0% 9%;
    background-color: var(--bg-color);
}

section
{
    padding: 30px 0 0 80px;
}

h1
{
    font-size:2.25rem;
    font-family: var(--fonte-primaria);
}

h2
{
    text-decoration: underline;
}

.contato
{
    list-style-type: none;
}

p{
    font-size: 1rem;
}

.lista-desordenada
{
    margin-left: 25px;
}

a
{
    text-decoration: none;
    color: #000000;
}

.educacao
{
    margin-left: 1rem;
}

p
{
    margin-left: 10px;
}

.rodape
{
    padding: 24px;
    color: #000000;
    background-color: var(--bg-color);
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 480px)
{
    .rodape
    {
        width: 100%;
    }
}