:root
{
    --bg-color: #e8ecc7;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    padding-left: 20px;
    
}

main
{
    display: flex;
}

div
{
    background-color: var(--bg-color);
}

.cabecalho
{
    padding: 5% 0% 0% 15%;   
}

.cabecalho__menu
{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--bg-color);
    text-decoration: none;
}
.conteiner
{
    width: 300px;
    background-color: blue;
}

.educacao
{
    padding-left: 10px;
}

.rodape
{
    padding: 24px;
    color: #000000;
    background-color: var(--bg-color);
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 24px;
    font-weight: 400;
}