*
{
    margin: 0;
    padding: 0;
}

body
{
    padding-left: 15%;
    box-sizing: border-box;
}



.cabecalho
{
    padding: 5% 0% 0% 15%;   
}

.cabecalho__menu
{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}




.rodape
{
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 24px;
    font-weight: 400;
}